* {
    overflow-x: hidden;
}

#rest-image {
    background-image: url(images/sushi-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height: 750px;
}

#container1 {
    align-items: center;
    display: flex;
    height: 500px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: 13px;
}

#satto1 {
    font-family: 'EB Garamond', serif;
    font-size: 3.2em;
    text-shadow: 2px 2px #000000;
    position: absolute;
    color:  #ff0000;
    margin: 0;
    padding: 0;
}

#rest-des {
    font-family: 'EB Garamond', serif;
    position: absolute;
    font-size: 1.9em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
    line-height: 70px;
    margin: 0;
    padding: 0;
}

#marble-bg {
    background-image: url(images/marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 100%;
    object-fit: contain;
    display: flex;
}

#container2 {
    padding: 30px;
}

#welcome-tile, #calidad-tile, 
#menu-tile, #menubento-tile, #visitenos-tile,
#contacto-tile {
    height: 230px;
    width: 100%;
    position: relative;
    border: 2px solid #000000;
    margin-bottom: 20px;
}

#welcome-tile:hover, #calidad-tile:hover, 
#menu-tile:hover, #menubento-tile:hover, #visitenos-tile:hover,
#contacto-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#welcome-tile {
    background-image: url(images/sushi1.jpg);
    background-position: center;
    background-size: cover;
}

#calidad-tile {
    background-image: url(images/sushi2.jpg);
    background-position: center;
    background-size: cover;
}

#menu-tile {
    background-image: url(images/sushi3.jpg);
    background-position: center;
    background-size: cover;
}

#menubento-tile {
    background-image: url(images/sushi4.jpg);
    background-position: center;
    background-size: cover;
}

#visitenos-tile {
    background-image: url(images/sushi5.jpg);
    background-position: center;
    background-size: cover;
}

#contacto-tile {
    background-image: url(images/sushi6.jpg);
    background-position: center;
    background-size: cover;
}

#welcome-tile span, #calidad-tile span, 
#menu-tile span, #menubento-tile span, #visitenos-tile span,
#contacto-tile span {
    font-family: 'Nanum Myeongjo', serif;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

.panel-footer {
    width: 100%;
    height: auto;
    background-image: url(/images/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#footer-title {
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
    color: #fff;
    text-shadow: 1.5px 1.5px black; 
    font-family: 'EB Garamond', serif;
}

#footer-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

#footer-ul li {
    margin: 0 15px;
}

#instagram-social {
    display: block;
}

#facebook-social {
    display: block;
}

#whatsapp-social {
    display: block;
}

#copyright {
    text-align: center; 
    font-size: .8em;
    display: flex;
    align-items: flex-end;
    height: 175px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-shadow: 1.5px 1.5px black; 
}